.timer__tomato {
  width: 85%;
  height: auto;
  margin: auto;
}

.main__timer {
  align-items: center;
  padding: 24px;
  box-sizing: border-box;
  position: relative;
}

.timer__items {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.timer__numBackground {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
  line-height: normal;
}

.timer__minBackground,
.timer__secBackground {
  padding: 16px;
  border-radius: 100px;
  width: 96px;
}

.timer__minBackground {
  background-color: #c92b00;
}

.timer__secBackground {
  background-color: #ff4800;
}

.timer__start,
.timer__pause,
.timer__stop {
  width: 52px;
  height: 52px;
  margin: 16px;
  transition: 0.4s;
}

.timer__start:hover,
.timer__pause:hover,
.timer__stop:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.timer__buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.timer__settings {
  opacity: 0;
  z-index: -2;
  background-color: rgba(205, 92, 92, 0.8);
  position: absolute;
  top: -1000;
  right: -1000;
}

.timer__settingsLabel {
  padding: 8px;
}

.timer__settingsInput {
  width: 32px;
  margin: 8px;
  padding: 4px;
}

.timer__settingsList {
  list-style-type: none;
  margin: 0;
  padding: 16px;
}

.timer__settingsListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.timer__settImg {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 32px;
  height: 32px;
  transition: 0.4s;
}

.timer__settImg:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.timer__intervalName {
  margin: 16px;
}

.timer__settings_show {
  animation: mymove 1s;
  z-index: 2;
  top: 16px;
  right: 16px;
  opacity: 1;
}

@keyframes mymove {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
